# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
git remote https://github.com/rishaleva/2.1.2.Spring.Hello
git push origin master
git push –all
